.featured {
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
}

.featured .title {
    font-size: 60px;;
    font-weight: bold;
    max-width: 80%;
    color: #000;
    margin-left: 15%;
}

.featured .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-top: 26px;
    color: #000;
    max-width: 60vw;
    margin-left: 15%;
}

.featured2 {
    margin-right: 7%;
    padding-bottom: 4vh;
    padding-top: 50px;
    margin-bottom: 4vh;
    background-color: #0C46E8;
}

.featured2 .title {
    font-size: 50px;;
    font-weight: bold;
    max-width: 80%;
    color: #ffffff;
    margin-left: 10%;
}

.featured2 .text {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin-top: 26px;
    color: #ffffff;
    max-width: 40vw;
    margin-left: 15%;
    padding-left: 10%;
}

.text2 {
    display: flex;
    padding-right: 20px;
}
