.footer {
    margin: auto;
    }
    
    .footerSection {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4vh;
    }
    
    .footer .menu {
        margin: auto;
    }
    
    .footer .logo {
        margin-left: 15%;
    }
    
    .footer .menu {
        display: flex;
        justify-content: space-between;
        max-width: 395px;
        align-self: center;
        margin-right: 15%;
        text-decoration: none;
    }
    
    .footer .itemMenu {
        margin: 0 0 0 70px;
        font-weight: bold;
    }
    
    .footer .nomeMenu:link {
        text-decoration: none;
    }
    
    .footer .nomeMenu {
        color: #000;
    }
    
    .footerDivisor {
        display: block;
        margin: auto;
    }
    
    p.footerCopy {
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 4vh;
        font-size: 18px;
    }