.header {
    display: flex;
    justify-content: space-between;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: #0C46E8;
}

.logo {
    margin-left: 10%;
}

.menu {
    display: flex;
    justify-content: space-between;
    max-width: 395px;
    align-self: center;
    margin-right: 10%;
}

.itemMenu {
    margin: 0 0 0 70px;
    font-weight: bold;
   	
}

.nomeMenu:link {
    text-decoration: none;
    color: white;
}